/*--------------------------------------------------------------
## Award Style
--------------------------------------------------------------*/
.tb-award-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 17px 20px 15px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tb-award-box {
  height: 160px;
}

.tb-award-title {
  opacity: 0;
  margin-top: 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tb-award-year {
  opacity: 0;
  margin-left: 10px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tb-award-box:hover .tb-award-text {
  opacity: 1;
}

.tb-award-box:hover .tb-award-title {
  margin-top: 0;
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.tb-award-box:hover .tb-award-year {
  margin-left: 0;
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
